<div class="row">
    <div class="col-2"></div>
    <div class="col-8 table-responsive text-center">
        <table class="table table-striped table-bordered" style="margin:20px; max-width: 99%;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Functions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of ImageTypes">
                    <td>{{ type.uid }}</td>
                    <td>{{ type.title }}</td>

                    <td><button (click)="deleteButtonClick(type.uid)" type="button" class="btn btn-danger">Törlés</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-4"></div>

    <div class="col-4 text-center">
        <div class="card">
            <div class="card-body">

                <h3>Add a new category</h3>

                <form #uploadForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Title</label>
                        <input required type="text" name="title" class="form-control" placeholder="Name of your image type"
                            [(ngModel)]="ImageTypeModel.title">

                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-4"></div>
</div>