<div class="container-fluid" style="margin: 10px">
    <div class="row justify-content-center" *ngFor="let item of Images">

        <div class="col-sm-5" style="margin-top: 10px;">

            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <small>{{item.imageType.title}}</small></h6>
                    <img class="img-fluid" [src]="item.base64Image" style="max-height: 800px;width: auto;" />

                    <br>
                    <button (click)="deleteButtonClick(item.uid)" type="button" style="margin: 10px;"
                        class="btn btn-danger">
                        Delete Image
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>